@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

/*--- Base Rules ---*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: rgb(97, 150, 124);
}

/*--- Typography General ---*/
h1 {
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: 4em;
    margin: 2em 4rem 1em;
  }
}

h2 {
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  color: #fff;
}

p {
  line-height: 1.8em;
  color: #eee;
}

/*--- Layout Rules ---*/
main {
  margin: 10vh 1em 10vh;
}

section {
  position: relative;
  min-height: 80vh;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

/*--- Navbar ---*/
.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu .highlight {
  color: #fff !important;
  background: #333 !important;
}

.navbar__menu .menu__link {
  display: inline block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbar__menu .menu__link:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
  cursor: pointer;
}

/*--- Header ---*/
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/*--- Footer ---*/
.page__footer {
  background: #202020;
  padding: 3rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.page__footer p {
  color: #fff;
}

.main_footer_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main_footer_container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_container {
  width: 25%;
}

.footer_container > p {
  text-align: center;
}

.footer_title {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.footer_tag {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #fff;
  padding: 0.3rem;
  margin-bottom: 5px;
  border-radius: 4px;
  border-style: none;
}

.footer_link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main_footer_container {
    flex-direction: column;
  }
  .footer_container {
    width: 90%;
  }
  #tags_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

/*--- Landing Container ---*/

.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/*--- Section Active ---*/

section.active {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

section.active .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}
